@font-face {
    font-family: 'myFirstFont';
    src: url(../day-3/fonts/runescape_uf.woff)
}

body {
    background-color: rgb(93, 93, 93);
    background-image: url(images/homepage-background.jpg);
    background-size: cover; /* Scales background-image to cover the window responsively */
    background-repeat: no-repeat;
    font-family: myFirstFont;
    font-weight: bold;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

h1 {
    color: rgb(235, 233, 230);
    background-color: darkslategray;
    border: 10px solid black;
    padding: 10px 40px 5px;
    margin-bottom: 10px;
    font-size: 64px;
    transition: 1s;
    border-radius: 20px;
}

h1:hover {
    color: white;
    text-shadow: 1px 1px 2px whitesmoke;
    transition-duration: 0.1s;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 25px;
}

.content-box {
    border: 1px solid white;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1; /* this plus ^ allows content-box to share space evenly and take up equal amounts of space*/
    margin: 0;
    opacity: 0.5;
    transition: 0.1s;
}

.content-box:hover {
    opacity: 1;
    transition: 0.1s;
    border: 5px solid black;
}

.button {
    background-color: darkslategray;
    color: rgb(235, 233, 230);
    cursor: pointer;
    font-size: 32px;
    padding: 20px 40px;
    display: inline-block;
    margin: 10px 10px 25px;
    border: 2px solid black;
    transition: 0.5s;
}

.button:hover {
    background-color: rgb(51, 63, 63);
    color: white;
    text-shadow: 0.5px 0.5px 1px ;
    transition-duration: 0.1s;
    border: 2px solid yellow;
    box-shadow: 5px 2.5px 2.5px yellow;
}

.footer {
    color: yellow;
    margin-top: auto; /* keeps the footer in the right position with flexbox in body */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > a.button {
    font-size: 12px;
    padding: 2px 4px;
    margin: 1px;
    cursor: help;
    box-shadow: none;
}

.footer > p {
    margin: 1px;
}